<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>音乐播放器</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<div id="app" >
			<div class="header" >
				<input type="button" value="搜索"  @click="search" style="float: right;margin-bottom: 0px;" />
				<input type="text" v-model="message"  @keyup.enter="search" style="float: right;margin-top: 0;"/>
				
			</div>
			
			
				<div id="songs" >
					<ul>
						<li v-for="item in musiclist" class="song" >
						
						<input type="button" value="播放" @click="play(item.id)" @click="play"/ class="liebiao">
						<span> {{ item.name }} </span>
						</li>
					</ul>
				</div>
			
			
			<div class="audio">
				<audio  controls="controls" autoplay="autoplay" style="width: 500px;" :src="musicurl"> </audio>
			</div>
			
		</div>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>
